@tailwind base;
@tailwind components;
@tailwind utilities;

.app-loader-enter {
  opacity: 0;
}
.app-loader-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.app-loader-exit {
  opacity: 1;
}
.app-loader-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.button {
  @apply rounded bg-gray-200 py-1 px-3 hover:bg-teal-200 active:bg-teal-300 disabled:opacity-50;
}

.button.primary {
  @apply bg-teal-500 text-white hover:bg-teal-600 active:bg-teal-700 disabled:bg-teal-500;
}

.button.danger {
  @apply bg-red-500 text-white hover:bg-red-600 active:bg-red-700 disabled:bg-red-500;
}

.input-field {
  @apply mb-4;
}

.input-field label {
  @apply block pb-2 text-sm font-bold text-gray-700;
}

.input-field input,
.input-field select {
  @apply w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow;
  @apply outline-2 outline-blue-400 hover:outline disabled:bg-gray-200 disabled:outline-none;
}

.input-field .select-wrapper {
  position: relative;
}

.input-field .select-wrapper::after {
  content: '⌄';
  position: absolute;
  font-size: 1.3em;
  right: 1rem;
  top: -2px;
  color: #222;
}
